@model List<SEP_FingerPrint.Models.KhoaHoc>
<table class="table table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên môn học</th>
            <th>Mô tả</th>
            <th>Misc.</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MKH</td>
            <td>@item.MonHoc.TenMonHoc</td>
            <td>@item.Note</td>
            <td>
                <a href="/Lecturer/FullAttendance/@item.MKH" role="button" class="btn btn-primary btn-rounded">Điểm danh</a>
                |
                <a href="/Lecturer/Schedule/@item.MKH" role="button" class="btn btn-warning fa fa-info"></a>
            </td>
        </tr>
    }
        </tbody>
</table>
