@model IEnumerable<SEP_FingerPrint.Models.KhoaHoc>

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}
<script src="~/CustomLib/js/lib/jquery/jquery.min.js"></script>
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Khóa học</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                <li class="breadcrumb-item active">Khóa học</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <!-- /# column -->
            <div class="col-lg-12">
                <div class="card">
                    <div id="blokm">
                        <div id="blok1">
                            <a class="face-button" href="/Lecturer/CreateSchedule">
                                <div class="face-primary">
                                    <span class="icon fa fa-edit"></span>
                                </div>
                                <div class="face-secondary">
                                    Tạo lịch học
                                </div>
                            </a>
                        </div>
                        &nbsp;&nbsp;
                        <div id="blok2">
                            <a>
                                @Ajax.ActionLink("Đồng bộ", "LoadCourse", "Lecturer", new AjaxOptions
                                {
                                    UpdateTargetId = "result",
                                    OnBegin = "",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                    LoadingElementId = "loadingElement2",
                                    OnSuccess = "",
                                    Confirm = "Bạn muốn đồng bộ danh sách khóa học hay không?"
                                }, new { @class = "btn btn-dark" })
                            </a>
                        </div>
                    </div>
                    <hr />
                    <div class="card-title">
                        <h4>Danh sách lớp</h4>

                    </div>
                    <div class="card-body">
                        <div id="loadingElement2" style="display:none; color:#f60">
                            Đang tải dữ liệu...
                        </div>
                        <div id="result" class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên môn học</th>
                                        <th>Mô tả</th>
                                        <th>Misc.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MKH</td>
                                            <td>@item.MonHoc.TenMonHoc</td>
                                            <td>@item.Note</td>
                                            <td>
                                                <a href="/Lecturer/FullAttendance/@item.MKH" role="button" class="btn btn-primary btn-rounded">Điểm danh</a>
                                                |
                                                <a href="/Lecturer/Schedule/@item.MKH" role="button" class="btn btn-warning fa fa-info"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
