@{
    ViewBag.Title = "Tạo lịch học";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}
<script src="~/CustomLib/js/lib/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<script src="~/CustomLib/Attendance/jquery.nice-select.js"></script>
<link href="~/CustomLib/css/nice-select.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            multidate: true
        };
        date_input.datepicker(options);
    });
    $(document).ready(function () {
        $('select').niceSelect();
    });
</script>
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">#</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                <li class="breadcrumb-item active">Khóa học</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <!-- /# column -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Tạo lịch học</h4>
                    </div>
                    <hr />
                    <div class="card-body">
                        <form>
                            <div>
                                <select id="listCourse">
                                    <option>Chọn môn học</option>
                                    @{
                                        SEP_FingerPrint.Models.Sep2018Entities db = new SEP_FingerPrint.Models.Sep2018Entities();
                                        var listCourse = db.KhoaHocs.ToList();
                                        foreach (var item in listCourse)
                                        {
                                            <option>@item.MKH</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
                            </div>



                            @*<div class="form-group">
                                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                                </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>

