
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}
@model SEP_FingerPrint.Models.BuoiHoc
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <script src='~/CustomLib/Schedule/lib/moment.min.js'></script>
    <script src='~/CustomLib/Schedule/lib/jquery.min.js'></script>
    <script src='~/CustomLib/Schedule/fullcalendar.min.js'></script>
    <link href='~/CustomLib/Schedule/fullcalendar.min.css' rel='stylesheet' />
    <link href='~/CustomLib/Schedule/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script>
    
        $(document).ready(function () {

            $('#calendar').fullCalendar( {
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: 'http://localhost:49354/Lecturer/FindAll/@Model.MKH',
                eventClick: function (event) {
                     window.open('/Lecturer/Attendance/@Model.MKH/'+event.id); //event.id là truyền vào mã buổi học  
                }

            });

        });</script>
    <style>
        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }
    </style>

</head>
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Lịch Dạy</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                <li class="breadcrumb-item active">Lịch Dạy</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                    <div class="content_component-text-detail"><div><p>Môn:</p> @Html.DisplayFor(model=>model.KhoaHoc.MonHoc.TenMonHoc) </div></div>
                    <div class="content_component-text-detail"><div><p>Giảng Viên:</p> @Html.DisplayFor(model => model.KhoaHoc.GiangVien.HoTen) </div></div>
                    <div class="content_component-text-detail"><div><p>Ngày bắt đầu:</p> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.KhoaHoc.NgayBatDau))  </div></div>
                    <div class="content_component-text-detail"><div><p>Ngày kết thúc:</p>  @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.KhoaHoc.NgayKetThuc)) </div></div>
            </div>
        </div>
        <div id='calendar'></div>
    </div>
</div>
</html>


