@{
    ViewBag.Title = "Cài đặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] != null)
    {
        if (Convert.ToInt32(Session["Role"]) == 2)
        {
            Response.Redirect("~/Admin/AddUser");
        }
    }
    else
    {
        Response.Redirect("~/Home/Login");
    }
}
@model SEP_FingerPrint.Models.TaiKhoan
<script src='~/CustomLib/Schedule/lib/jquery.min.js'></script>
<script>
    $(document).ready(function () {
        $('#SaveChanges').click(function () {
            if ($('#color-1').is(':checked')) {
                var data = {
                    Absent: '#e74c3c',
                    Attend: '#2ecc71',
                }
            }
            if ($('#color-2').is(':checked')) {
                var data = {
                    Absent: '#ff6919',
                    Attend: '#3498db'
                }
            }
            if ($('#color-3').is(':checked')) {
                var data = {
                    Absent: '#7919ff',
                    Attend: '#f1c40f'
                }
            }
            ColorChanger(data);
        })
        function ColorChanger(data) {
            $.ajax({
                type: "POST",
                url: '/Lecturer/ColorChanger/@Model.ID',
                data: data,
                success: function (data) {
                    if (data.status) {
                        alert('Lưu thành công');
                    }
                },
                error: function () {
                    alert('fail');
                }
            })
        }
    });
</script>
<div class="page-wrapper" style="min-width: 343px;">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Cài đặt</h3>
        </div>
        @*<div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                <li class="breadcrumb-item active">Cài đặt</li>
            </ol>
        </div>*@
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="cp-block-1">
            <div class="card">
                <div class="card-title">
                    Màu nền điểm danh
                </div>
                <hr />
                <p>Hiện diện/ Vắng: </p>
                <div class="mvls-radio-button1" style="z-index: 999">
                    <div>
                        <input type="radio" id="color-1" name="ColorGroup1" value="color-1" checked>
                        <label for="color-1">
                            <span>
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                        </label>
                    </div>

                    <div>
                        <input type="radio" id="color-2" name="ColorGroup1" value="color-2">
                        <label for="color-2">
                            <span>
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                        </label>
                    </div>

                    <div>
                        <input type="radio" id="color-3" name="ColorGroup1" value="color-3">
                        <label for="color-3">
                            <span>
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                        </label>
                    </div>
                </div>
                <div class="mvls-radio-button1" style="margin-top: -30px">
                    <div>
                        <input type="radio" id="color-5" name="ColorGroup2" value="color-1">
                        <label for="color-1">
                            <span>
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                        </label>
                    </div>

                    <div>
                        <input type="radio" id="color-6" name="ColorGroup2" value="color-2">
                        <label for="color-2">
                            <span>
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                        </label>
                    </div>

                    <div>
                        <input type="radio" id="color-7" name="ColorGroup2" value="color-3">
                        <label for="color-3">
                            <span>
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                        </label>
                    </div>
                </div>
                <hr />
                <div>
                    <button id="SaveChanges" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>

